:root{
    /* colors */
    --slate-grey: hsl(234, 29%, 20%);
    --charcoal-grey: hsl(235, 18%, 26%);
    --grey: hsl(231, 7%, 60%);
    --white: hsl(0, 0%, 100%);

    /* breakpoints */
    --mobile-breakpoint: 375px;
    --desktop-breakpoint: 1440px;
}

.App{
    min-height: 100dvh;
    background-color: var(--charcoal-grey);
    display: grid;
    grid-template-rows: 1fr auto;
    align-items: center;
}

.app__wrapper{
    
    padding: 10rem;
    justify-self: center;
    max-width: 850px;
    background-color: var(--white);
}