@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

:root {
  /* colors */
  --tomato: hsl(4, 100%, 67%);
  --slate-grey: hsl(234, 29%, 20%);
  --charcoal-grey: hsl(235, 18%, 26%);
  --grey: hsl(231, 7%, 60%);
  --white: hsl(0, 0%, 100%);

  /* breakpoints 
  mobile-breakpoint: 375px;
  desktop-breakpoint: 1440px;
   */

  /* fonts */
  font-size: 16px;
  /* - Family: 
    [Roboto](https://fonts.google.com/specimen/Roboto)
    - Weights: 400, 700 */

  --border-radius: 20px;

  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

a {
  color: var(--white);
  text-decoration: none;
}

.App {
  min-height: 100dvh;
  /* min-width: 100dvw; */
  display: grid;
  grid-template-rows: auto auto;

  background-color: var(--charcoal-grey);
}

.app__wrapper {
  max-width: 850px;

  background-color: var(--white);
  -webkit-box-shadow: 0px 0px 24px 0px var(--slate-grey);
  -moz-box-shadow: 0px 0px 24px 0px var(--slate-grey);
  box-shadow: 0px 0px 24px 0px var(--slate-grey);

  line-height: 1.3em;
}

/* CARD STYLING */
.card {
  display: grid;
}
.card__img img {
  display: flex;
  align-items: center;
  width: 100%;
}

/* ALERT STYLING */
.alert{
  height: 100%;
  padding: 0.5rem; 
  max-width: 400px;

  display: grid;
  grid-template-rows: auto auto;
}
.alert__dismiss-button{
  align-self: end;
}

/* IMAGES */
.img--desktop {
  display: none;
}
.img--mobile {
  display: block;
}

/* CONTENT */
.content{
  padding: 1.5rem 1rem;

  display: grid;
  gap: 1.6rem;
}
.content__h1 {
  color: var(--slate-grey);
  font-size: 2.6rem;
  font-weight: 700;
  line-height: 1.3em;
}

.content__list {
  display: grid;
  gap: 1rem;
}
.content__list_item {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}

.content__form > label {
  font-size: 0.7rem;
  font-weight: 700;

  padding-bottom: 0.2rem;

  display: flex;
  justify-content: space-between;
}
.custom-input{
  display: block;
  width: 100%;
  padding: 0.8rem 1rem;

  font-size: 1rem;
  font-family: "Roboto", sans-serif;

  border: 1px solid var(--grey);
  border-radius: calc(var(--border-radius) - 12px);
}
.custom-input:focus {
  outline: none;
  border-color: var(--charcoal-grey);
  color: var(--charcoal-grey);
}
.custom-input:active{
  background-color: var(--white);
}
.input--red{
  background-color: rgba(245, 4, 4, 0.2);
  border-color: var(--tomato);
  color: var(--tomato);
}
.input--red::placeholder{
  color: var(--tomato);
}

.content__form_validation-message{
  color: var(--tomato);
}

.content > p span{
  font-weight: 700;
}

/* CUSTOM BUTTON */
.custom-button {
  margin-top: 1rem;
  padding: 0.8rem;
  width: 100%;

  color: var(--white);
  background-color: var(--slate-grey);

  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  cursor: pointer;

  border: none;
  border-radius: calc(var(--border-radius) - 12px);
}
.custom-button:hover {
  background: rgb(214,68,122);
  background: linear-gradient(132deg, rgba(214,68,122,1) 33%, rgba(209,88,46,1) 64%);

  -webkit-box-shadow: 1px 5px 15px 0px rgba(214,68,122,1);
  -moz-box-shadow: 1px 5px 15px 0px rgba(214,68,122,1);
  box-shadow: 1px 5px 15px 0px rgba(214,68,122,1);
}

/* FOOTER STYLING */
.app__footer {
  margin-inline: 6px;
  padding: 0.5rem 1rem;
  border-top-right-radius: var(--border-radius);
  border-top-left-radius: var(--border-radius);

  color: var(--white);

  background-color: var(--slate-grey);

  align-self: end;

  a {
    color: var(--grey);
  }
}

@media (min-width: 475px) {
  .App {
    min-height: 100dvh;
    grid-template-rows: 1fr auto;
  }

  .app__wrapper {
    padding: 0.8rem;
    border-radius: var(--border-radius);

    justify-self: center;
    align-self: center;
  }

  .card {
    grid-template-columns: 10fr 9fr;
    align-items: center;
  }

  .alert{
    height: 100%;
    padding: 0.5rem; 
  }
  .alert content{
    height: 100%;
    align-items: space-between;
  }

  .img--desktop {
    display: block;
  }
  .img--mobile {
    display: none;
  }

  .app__footer{
    padding: 1rem 2rem;
  }
}

@media (min-width: 1440px) {
  .app__wrapper {
    padding: 1.5rem;
  }

  .card__content {
    padding-inline: 2.2rem;
  }
}
