@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

:root {
  /* colors */
  --slate-grey: hsl(234, 29%, 20%);
  --charcoal-grey: hsl(235, 18%, 26%);
  --grey: hsl(231, 7%, 60%);
  --white: hsl(0, 0%, 100%);

  /* breakpoints 
  mobile-breakpoint: 375px;
  desktop-breakpoint: 1440px;
   */

  /* fonts */
  font-size: 16px;
  /* - Family: 
    [Roboto](https://fonts.google.com/specimen/Roboto)
    - Weights: 400, 700 */

  --border-radius: 8px;

  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

a {
  color: var(--white);
  text-decoration: none;
}

.App {
  min-height: 100dvh;
  display: grid;
  grid-template-rows: auto auto;

  background-color: var(--charcoal-grey);
}

.app__wrapper {
  max-width: 850px;

  background-color: var(--white);
  -webkit-box-shadow: 0px 0px 24px 0px var(--slate-grey);
  -moz-box-shadow: 0px 0px 24px 0px var(--slate-grey);
  box-shadow: 0px 0px 24px 0px var(--slate-grey);

  line-height: 1.3em;
}

.card{
    display: grid;
}

.card__img img{
    width: 100%;
}
.img--desktop {
  display: none;
}
.img--mobile {
  display: block;
}

.card__content{
    padding: 1rem;
}

.app__footer {
  margin-inline: 6px;
  padding: 1rem 2rem;
  border-top-right-radius: var(--border-radius);
  border-top-left-radius: var(--border-radius);

  color: var(--white);

  background-color: var(--slate-grey);

  align-self: end;

  a {
    color: var(--grey);
  }
}

@media (min-width: 375px) {
  .App {
    min-height: 100dvh;
    grid-template-rows: 1fr auto;
  }

  .app__wrapper {
    padding: 0.5rem;
    border-radius: var(--border-radius);

    justify-self: center;
    align-self: center;
  }

  .card{
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }

  .img--desktop {
    display: block;
  }
  .img--mobile {
    display: none;
  }
}

@media (min-width: 1440px) {
  .app__wrapper {
    padding: 2rem;
  }
}
